@font-face {
  font-family: "custom-icon"; /* Project id 2664248 */
  src: 	/* url('iconfont.woff2?t=1626204310989') format('woff2'),
       url('iconfont.woff?t=1626204310989') format('woff'),
       url('iconfont.ttf?t=1626204310989') format('truetype'); */
  url('D:/Vue/software666-master_0716/static/iconHome/iconfont.woff2?t=1625879810914') format('woff2'),
  url('D:/Vue/software666-master_0716/static/iconHome/iconfont.woff2?t=1625879810914') format('woff'),
  url('D:/Vue/software666-master_0716/static/iconHome/iconfont.woff2?t=1625879810914') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-bumenguanli:before {
  content: "\e60d";
}

.custom-icon-gonggao:before {
  content: "\e626";
}

.custom-icon-xiazai:before {
  content: "\e624";
}

.custom-icon-position:before {
  content: "\e606";
}

.custom-icon-jia:before {
  content: "\e716";
}

.custom-icon-touxiang:before {
  content: "\e673";
}

